{% load static %}
<!DOCTYPE html>
<html lang="en">

<head class="body1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aventra | Explore. Experience. Travel.</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@700;800&display=swap" rel="stylesheet">
</head>

<body>

    <header class="premium-header">

        <!-- LEFT -->
        <div class="header-left">
            <a href="/" class="brand">
                <img src="{% static 'images/favicon.png' %}" alt="Aventra Logo">
                <span>AVENTRA</span>
            </a>
        </div>

        <!-- CENTER SEARCH -->
        <div class="search-container">
            <input type="text" placeholder="Search destinations, tours, experiences">
            <button class="search-btn">
                <i class="fa fa-search"></i>
            </button>
        </div>

        <!-- RIGHT -->
        <div class="header-right">

            <div class="helpline">
                <i class="fa-solid fa-phone-volume fa-lg"></i>
                <div class="helpline-text">
                    <small>Call Us</small>
                    <span>+91 98765 43210</span>
                </div>
            </div>

            <a href="#" class="agent-link">Travel Agent? Join Us</a>

            <div class="auth-links">
                <a href="/login" class="login-link">Log in</a>
                <a href="/register" class="signup-btn">Sign Up</a>
            </div>

        </div>

    </header>






    <!--
    <h1>Available packages</h1>
    {% for package in packages%}
    <a href="{% url 'package_detail' package.id %}" style="text-decoration:none; color:black;">
        <div style="border:1px solid black; padding:10px; margin:10px;">
         
            <img src="{{ package.image.url }}" width="100%" height="200px" style="object-fit:cover;">

            <h2>{{package.title}}</h2>
            <p>Location: {{package.location}}</p>
            <p>Price: {{package.price}}</p>
            <p>Duration: {{package.duration}}</p>
            <p>{{ package.description|truncatewords:15 }}</p>
        </div>
    </a>
    {% endfor %}
-->

</body>

</html>