{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html>

<head>
    <title>{{ package.title }}</title>
    <link rel="stylesheet" href="{% static 'css/package_detail.css' %}?v=33">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>

<!-- ENQUIRY MODAL -->
<div id="enquiryModal" class="modal">
    <div class="modal-content">

        <span class="close-btn" onclick="closeModal()">&times;</span>

        <h2>Send Enquiry</h2>

        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="enquiry">
            <input type="text" name="name" placeholder="Your Name" required>
            <input type="email" name="email" placeholder="Your Email" required>
            <input type="text" name="phone" placeholder="Phone Number" required>

            <textarea name="message" placeholder="Your Message"></textarea>

            <button type="submit">Submit Enquiry</button>
        </form>

    </div>
</div>
<script>
    function openModal() {
        document.getElementById("enquiryModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("enquiryModal").style.display = "none";
    }

    // close when clicking outside
    window.onclick = function (event) {
        let modal = document.getElementById("enquiryModal");
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<script>
    function toggleItinerary(element) {

        const allContents = document.querySelectorAll(".itinerary-content");
        const allHeaders = document.querySelectorAll(".itinerary-header");

        const content = element.nextElementSibling;

        // Close all
        allContents.forEach(item => {
            if (item !== content) {
                item.style.maxHeight = null;
            }
        });

        allHeaders.forEach(header => {
            if (header !== element) {
                header.classList.remove("active");
            }
        });

        // Toggle current
        if (content.style.maxHeight) {
            content.style.maxHeight = null;
            element.classList.remove("active");
        } else {
            content.style.maxHeight = content.scrollHeight + "px";
            element.classList.add("active");
        }
    }
</script>
<script>
    function openTab(evt, tabName) {

        const contents = document.querySelectorAll(".policy-content");
        const tabs = document.querySelectorAll(".tab");

        contents.forEach(c => c.classList.remove("active"));
        tabs.forEach(t => t.classList.remove("active"));

        document.getElementById(tabName).classList.add("active");
        evt.currentTarget.classList.add("active");
    }
</script>
<script>
    window.addEventListener("scroll", function () {
        const card = document.querySelector(".right");

        if (window.scrollY > 100) {
            card.classList.add("scrolled");
        } else {
            card.classList.remove("scrolled");
        }
    });
</script>
<script>
    function openBooking() {
        document.getElementById("bookingModal").style.display = "block";
    }

    function closeBooking() {
        document.getElementById("bookingModal").style.display = "none";
    }

    // LIVE PRICE CALCULATION 🔥
    const pricePerPerson = {{ package.price }};

    document.addEventListener("input", function (e) {
        if (e.target.name === "persons") {
            let total = e.target.value * pricePerPerson;

            document.getElementById("totalPrice").innerText =
                "Total Price: ₹" + total;
        }
    });
</script>
<script>
    function openLogin() {
        document.getElementById("loginModal").classList.add("active");
    }

    function closeLogin() {
        document.getElementById("loginModal").classList.remove("active");
    }
</script>


<body>
    <!-- header section---------------------------------------------------------------------------------------------- -->
    <header class="premium-header">

        <!-- LEFT -->
        <div class="header-left">
            <a href="/" class="brand">
                <img src="{% static 'images/favicon.png' %}" alt="Aventra Logo">
                <span>AVENTRA</span>
            </a>
        </div>

        <!-- CENTER SEARCH -->
        <div class="search-container">
            <input type="text" placeholder="Search destinations, tours, experiences">
            <button class="search-btn">
                <i class="fa fa-search"></i>
            </button>
        </div>

        <!-- RIGHT -->
        <div class="header-right">

            <div class="helpline">
                <i class="fa-solid fa-phone-volume fa-lg"></i>
                <div class="helpline-text">
                    <small>Call Us</small>
                    <span>+91 12345 67890</span>
                </div>
            </div>

            <a href="#" class="agent-link">Travel Agent? Join Us</a>

            <div class="auth-links">
                {% if user.is_authenticated %}
                <span>Hi, {{ user.first_name }}</span>
                <a href="/logout">Logout</a>
                {% else %}
                <a href="/login" class="login-link">Log in</a>
                <a href="/register" class="signup-btn">Sign Up</a>
                {% endif %}
            </div>

        </div>

    </header>
    <!-- ----------------------------------------------------------------------------------------------------------- -->

    <!-- HERO -->
    <div class="hero">

        <div class="gallery">

            <!-- BIG -->
            <div class="img-box">
                <img id="mainImage" src="{{ images.0.image.url }}">
            </div>

            <!-- MIDDLE -->
            <div class="middle">
                {% for img in images|slice:"1:3" %}
                <div class="img-box">
                    <img class="thumb" src="{{ img.image.url }}">
                </div>
                {% endfor %}
            </div>

            <!-- RIGHT -->
            <div class="right-grid">
                {% for img in images|slice:"3:6" %}
                <div class="img-box">
                    <img class="thumb" src="{{ img.image.url }}">
                </div>
                {% endfor %}
            </div>

        </div>


        <!-- ------------------------------------------------------------------------------------------------------------ -->
        <div class="container">

            <div class="content">

                <!-- LEFT -->
                <div class="left">

                    <!-- ABOUT -->
                    <div class="trip-box">

                        <h2 class="trip-title">What You’ll Experience</h2>

                        <ul class="trip-list">
                            {% for item in highlights %}
                            <li>{{ item.title }}</li>
                            {% endfor %}
                        </ul>

                    </div>
                    <!-- ------------------------------------------------------------------------------------------ -->
                    <!-- ITINERARY -->
                    <div class="itinerary-box">

                        <h2 class="itinerary-title">Detailed Itinerary</h2>

                        {% for day in itinerary_days %}
                        <div class="itinerary-item">

                            <div class="itinerary-header" onclick="toggleItinerary(this)">
                                <span class="day">Day {{ day.day_number }}</span>
                                <span class="title">{{ day.title }}</span>
                                <span class="arrow"><i class="fa-solid fa-angle-down"></i></span>
                            </div>

                            <div class="itinerary-content">
                                <p>{{ day.description }}</p>
                            </div>

                        </div>
                        {% endfor %}

                    </div>

                    <!-- INCLUSIONS & EXCLUSIONS -->
                    <div class="inc-exc-box">

                        <h2 class="section-title">What’s Included in Your Journey</h2>

                        <div class="inc-exc-grid">

                            <!-- INCLUSIONS -->
                            <div class="inc-box">
                                <h3>Inclusions</h3>

                                <ul>
                                    {% for item in package.inclusions_list.all %}
                                    <li>
                                        <span class="icon yes"><i class="fa-solid fa-check"></i></span>
                                        {{ item.text }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <!-- EXCLUSIONS -->
                            <div class="exc-box">
                                <h3>Exclusions</h3>

                                <ul>
                                    {% for item in package.exclusions_list.all %}
                                    <li>
                                        <span class="icon no"><i class="fa-solid fa-xmark"></i></span>
                                        {{ item.text }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>

                    </div>

                    <!-- Confirmation Policy -->
                    <div class="policy-box">

                        <h2 class="policy-title">Travel Policies & Guidelines</h2>

                        <!-- TABS -->
                        <div class="policy-tabs">
                            <button class="tab active" onclick="openTab(event, 'confirm')">Confirmation</button>
                            <button class="tab" onclick="openTab(event, 'refund')">Refund</button>
                            <button class="tab" onclick="openTab(event, 'cancel')">Cancellation</button>
                            <button class="tab" onclick="openTab(event, 'payment')">Payment</button>
                        </div>

                        <!-- CONTENT -->
                        <div class="policy-content active" id="confirm">
                            <p>{{ package.confirmation_policy }}</p>
                        </div>

                        <div class="policy-content" id="refund">
                            <p>{{ package.refund_policy }}</p>
                        </div>

                        <div class="policy-content" id="cancel">
                            <p>{{ package.cancellation_policy }}</p>
                        </div>

                        <div class="policy-content" id="payment">
                            <p>{{ package.payment_policy }}</p>
                        </div>

                    </div>


                    <!-- REVIEWS-------------------------------------------------------------------------------- -->
                    {% if reviews %}
                    <div class="review-card">

                        <!-- HEADER -->
                        <div class="review-header">
                            <h2>Guest Reviews</h2>

                            <div class="rating-summary">
                                <span class="big-rating">
                                    {{ avg_rating|default:"0"|floatformat:1 }}
                                </span>
                                <span class="stars">
                                    {% for i in "12345" %}
                                    {% if forloop.counter <= avg_rating %} ★ {% else %} ☆ {% endif %} {% endfor %}
                                        </span>
                                        <span class="count">({{ review_count }} reviews)</span>
                            </div>
                        </div>

                        <!-- REVIEWS LIST -->
                        <div class="review-list">

                            {% for r in reviews %}
                            <div class="review-item">

                                <!-- TOP ROW -->
                                <div class="review-top">
                                    <div class="user">
                                        <div class="avatar">
                                            {{ r.user.username|first|upper }}
                                        </div>
                                        <span class="name">{{ r.user.username }}</span>
                                    </div>

                                    <div class="rating">⭐ {{ r.rating }}</div>
                                </div>

                                <!-- COMMENT -->
                                <p class="comment">
                                    {{ r.comment }}
                                </p>

                            </div>
                            {% empty %}
                            <p class="no-review">No reviews yet. Be the first to share your experience!</p>
                            {% endfor %}

                        </div>

                    </div>
                    {% endif %}

                </div>
                <!-- ------------------------------------right sticky column--------------------------------------- -->
                <div class="right">

                    <div class="card">

                        <!-- TITLE + RATING -->
                        <div class="title-row">
                            <h2 class="package-title">{{ package.title }}</h2>
                            <div class="rating">⭐ 4.5</div>
                        </div>

                        <!-- LOCATION -->
                        <p class="location">
                            <i class="fa-solid fa-location-dot"></i> {{ package.location }}
                        </p>

                        <!-- STAY -->
                        <div class="stay-line">
                            <div class="duration-badge">{{ package.duration }}</div>

                            <div class="stay-break">
                                {% for stay in package.stay_list %}
                                {% with stay|slice:":2" as nights %}
                                {% with stay|slice:"3:" as place %}

                                <div class="stay-block">
                                    <span class="night">{{ nights|cut:"N" }}</span>
                                    <span class="text">Nights in {{ place }}</span>
                                </div>

                                {% endwith %}
                                {% endwith %}

                                {% if not forloop.last %}
                                <div class="divider"></div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <!-- ✅ MOVE PRICE INSIDE -->
                        <div class="price-section">

                            <div class="price-left">

                                {% if package.original_price %}
                                <span class="old-price">₹{{ package.original_price|intcomma }}</span>
                                {% endif %}

                                <div class="price-row">
                                    <span class="price">₹{{ package.price|intcomma }}</span>

                                    {% if package.discount_percent %}
                                    <span class="discount">{{ package.discount_percent }}% OFF</span>
                                    {% endif %}
                                </div>

                                <p class="per-person">Starting price per adult</p>
                            </div>

                        </div>

                        <!-- TRUST -->
                        <p class="trust">✔ Best Price Guarantee</p>

                        <!-- BUTTONS -->

                        {% if user.is_authenticated %}
                        <a href="javascript:void(0);" onclick="openBooking()" class="main-btn">Book Now</a>
                        {% else %}
                        <a href="javascript:void(0);" onclick="openLogin()" class="main-btn">
                            Log in to Book
                        </a>
                        {% endif %}

                        <a href="javascript:void(0);" class="outline-btn" onclick="openModal()">Send Enquiry</a>

                    </div>

                </div>

            </div>

        </div>


        <!-- similar packages--------------------------------------------------------->
        {% if similar_packages %}
        <div class="similar-section">

            <h2 class="similar-title">Explore Similar Experiences</h2>

            <div class="similar-grid">

                {% for pkg in similar_packages %}
                <div class="similar-card">

                    <img src="{{ pkg.image.url }}" alt="{{ pkg.title }}">

                    <div class="card-content">
                        <h3>{{ pkg.title }}</h3>
                        <p>{{ pkg.location }}</p>

                        <div class="price_similar">
                            ₹{{ pkg.price|intcomma }}
                        </div>

                        <a href="{% url 'package_detail' pkg.id %}" class="view-btn">
                            View Details →
                        </a>
                    </div>

                </div>
                {% endfor %}

            </div>

        </div>
        {% endif %}
    </div>

























    <!-- ------footer------------------------------------------------------------------------------------------------ -->
    <footer class="premium-footer">

        <div class="footer-wrapper">

            <h2 class="footer-brand">AVENTRA</h2>

            <p class="footer-desc">
                Curated travel experiences designed for explorers and dreamers.
            </p>

            <div class="footer-links">
                <a href="/">Home</a>
                <a href="#">Packages</a>
                <a href="#">Destinations</a>
                <a href="#">About</a>
                <a href="#">Contact</a>
            </div>

            <p class="footer-copy">
                © 2026 Aventra Travel
            </p>

        </div>

    </footer>

    <script>
        const mainImage = document.getElementById("mainImage");
        const thumbs = document.querySelectorAll(".thumb");

        thumbs.forEach(thumb => {
            thumb.addEventListener("mouseenter", function () {

                const newSrc = this.src;
                const oldSrc = mainImage.src;

                // preload image first
                const img = new Image();
                img.src = newSrc;

                img.onload = () => {
                    // only swap after loaded
                    mainImage.src = newSrc;
                    this.src = oldSrc;
                };

            });
        });
    </script>
    <!-- BOOKING MODAL -->
    <div id="bookingModal" class="modal">
        <div class="modal-content">

            <span class="close-btn" onclick="closeBooking()">&times;</span>

            <h2>Confirm Your Booking</h2>

            <form method="GET" action="{% url 'start_booking' package.id %}">

                <input type="date" name="date" required>

                <input type="number" name="persons" placeholder="Number of Travelers" required>

                <p id="totalPrice" style="font-weight:600; margin-top:10px;"></p>

                <button type="submit">Continue</button>
            </form>

        </div>
    </div>

    <!-- LOGIN MODAL -->
    <div id="loginModal" class="modal">
        <div class="login-box">

            <!-- LEFT IMAGE -->
            <div class="login-left">
                <img src="{% static 'images/login-travel.jpg' %}" alt="Travel">
            </div>

            <!-- RIGHT FORM -->
            <div class="login-right">

                <span class="close-btn" onclick="closeLogin()">&times;</span>

                <h2>Welcome Back 👋</h2>
                <p>Login to continue your journey</p>

                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}

                    <input type="hidden" name="next" value="{{ request.path }}">

                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>

                    <button type="submit" class="login-submit">Login</button>
                </form>

                <p class="switch">
                    New here? <a href="/register">Create account</a>
                </p>

            </div>

        </div>
    </div>
</body>

</html>