body {
    background: #f6f7fb;
    font-family: 'Poppins', sans-serif;
    
}

/* header-----------------------------------------------------------------------------------------------------------*/
.premium-header {
    display: flex;
    /* position: sticky; */
    align-items: center;
    justify-content: space-between;
    padding: 16px 70px;
    background: white;
    border-bottom: 1px solid #f1f5f9;
    font-family: 'Segoe UI', sans-serif;
}

/* LEFT */
.brand {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.brand img {
    height: 40px;
    width: auto;

}

.brand span {
    font-family: 'Manrope', sans-serif;
    font-size: 23px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #183e35;
}


/* CENTER SEARCH */
.header-center {
    flex: 1;
    display: flex;
    justify-content: center;
}






/* SEARCH CONTAINER */
.search-container {
    display: flex;
    align-items: center;
    width: 480px;
    border: 1px solid #e2e8f0;
    border-radius: 50px;
    background: #f8fafc;
    overflow: hidden;
    padding: 4px 8px 4px 4px;
    margin-left: 20px;




}



.search-container input {
    border: none;
    outline: none;
    flex: 1;
    padding: 8px 12px;
    font-size: 14px;
    background: transparent;

    border-radius: 50px;

}

/* Airbnb-style circular search button */
.search-btn {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: none;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.search-btn:hover {
    background: rgb(60, 60, 60);
}

.search-container:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}


/* RIGHT */

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.helpline {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #0f172a;
}

.helpline i {
    color: #ff385c;
}

.helpline-text {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.helpline-text small {
    font-size: 11px;
    color: #64748b;
    /* soft gray */
    letter-spacing: 0.5px;
}

/* .helpline-text span {
    font-weight: 600;
    font-size: 13px;
} */

.helpline-text span {
    font-size: 14px;
    font-weight: 600;
}



.agent-link {
    font-size: 13px;
    text-decoration: none;
    color: #334155;
    font-weight: 500;
    transition: 0.3s ease;
}

.agent-link:hover {
    color: #000000;
}

.auth-links {
    display: flex;
    align-items: center;
    gap: 11px;
}

.login-link {
    text-decoration: none;
    font-size: 14px;
    color: #0f172a;
    font-weight: 600;
    transition: 0.3s;
}

.login-link:hover {
    color: rgb(106, 144, 104);
}

.signup-btn {
    text-decoration: none;
    background: #111827;
    color: white;
    padding: 8px 16px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 600;
    transition: 0.3s ease;
}

.signup-btn:hover {
    background: #000;
}

/* -------------------------footer--------------------------------------------------------------------------------- */
.premium-footer {

    background: linear-gradient(180deg,
            #c9cdd5,
            #899cb5);

    padding: 50px 20px;
    text-align: center;
    border-top: 1px solid #d1d5db;

}

.footer-wrapper {

    max-width: 800px;
    margin: auto;

}

.footer-brand {

    font-size: 26px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #111827;
    margin-bottom: 8px;

}

.footer-desc {

    font-size: 14px;
    color: #4b5563;
    margin-bottom: 25px;

}

.footer-links {

    margin-bottom: 25px;

}

.footer-links a {

    margin: 0 14px;
    font-size: 14px;
    text-decoration: none;
    color: #374151;
    transition: 0.3s;

}


.footer-links a:hover {

    color: #2563eb;

}

.footer-copy {

    font-size: 13px;
    color: #6b7280;

}

.footer-links a {

    position: relative;

}

.footer-links a::after {

    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: #2563eb;
    left: 0;
    bottom: -3px;
    transition: 0.3s;

}

.footer-links a:hover::after {

    width: 100%;

}

/* Heo section (image)-----------------------------------------------------------------------------------------------------> */

.hero-section {
    height: 57vh;

    background-image: url("/static/images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 60px;
    margin: 30px;
}

.hero-center-text {
    position: relative;
    text-align: center;
    color: white;
    z-index: 3;
    max-width: 700px;
}

.hero-center-text h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.3;
    background: linear-gradient(90deg, #0f172a, #2563eb, #0f172a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

.hero-center-text p {
    font-size: 20px;
    color: #380507;
    line-height: 1.7;
}

.hero-reviews {
    width: 305px;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    height: 320px;
}

.reviews-track {
    display: flex;
    flex-direction: column;
    gap: 16px;
    animation: scrollReviews 17s linear infinite;
}

@keyframes scrollReviews {

    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }

}


.review-card {
    padding: 18px 22px;
    margin-bottom: 16px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.review-card:hover {
    transform: translateY(-3px);
    transition: 0.5s ease;
}

.review-stars {
    color: #037a0f;
    font-size: 15px;
    margin-bottom: 6px;
    letter-spacing: 2px;
}

.review-text {
    font-size: 15px;
    color: #1f2937;
    line-height: 1.6;
    margin: 6px 0;
}

.review-user {
    font-size: 13px;
    font-weight: 600;
    color: #374151;
    margin-top: 8px;
}



.hero-section::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    border-radius: 30px;
    background:
        /* left fade */
        linear-gradient(to right, #f6f7fb 0%, rgba(246, 247, 251, 0) 8%),

        /* right fade */
        linear-gradient(to left, #f6f7fb 0%, rgba(246, 247, 251, 0) 2%),

        /* top fade */
        linear-gradient(to bottom, #f6f7fb 0%, rgba(246, 247, 251, 0) 8%),

        /* bottom fade */
        linear-gradient(to top, #f6f7fb 0%, rgba(246, 247, 251, 0) 8%),

        /* corner fixes */
        radial-gradient(circle at top left, #f6f7fb 0%, rgba(246, 247, 251, 0) 45%),
        radial-gradient(circle at top right, #f6f7fb 0%, rgba(246, 247, 251, 0) 30%),
        radial-gradient(circle at bottom left, #f6f7fb 0%, rgba(246, 247, 251, 0) 15%),
        radial-gradient(circle at bottom right, #f6f7fb 0%, rgba(246, 247, 251, 0) 15%);
}

/* package section --------------------------------------------------------------------------------------------------> */
.package-section {
    /* padding:120px 10%; */
    background: #fafafa;
    text-align: center;
}

/* title */

.package-title {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;

    margin-bottom: 6px;

    line-height: 1.3;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    transition: all 0.3s ease;
}

/* divider */

.divider {
    width: 80px;
    height: 3px;
    background: linear-gradient(90deg, #4f6df5, #8fa2ff);
    margin: auto;
    border-radius: 5px;
}

.package-tabs {
    margin-top: 35px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* tab button */

.tab-btn {
    border: none;
    background: white;
    padding: 14px 32px;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    transition: all 0.35s ease;
}

/* hover */

.tab-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

/* active */

.tab-btn.active {
    background: linear-gradient(135deg, #4f6df5, #6f8cff);
    color: white;
}

.typing-container {
    display: inline-block;
    width: 140px;
    text-align: left;
    color: #ff7a18;
    font-weight: 600;
}

.package-title {
    font-size: 28px;

}

/* static text */

.static-text {
    font-size: 22px;
    /* smaller than animation text */
    font-weight: 400;
    /* not bold */
    color: #555;
    letter-spacing: 0.5px;
    margin-right: 6px;
    font-family: "Poppins", sans-serif;
}

/* animated text */

#typing-text {
    font-size: 28px;
    font-weight: 600;
    color: #cd760b;
}

/* cursor */

.cursor {
    display: inline-block;
    width: 3px;
    height: 0.99em;
    background-color: #c65402;
    margin-left: 2px;
    position: relative;
    top: 2px;
    animation: blink 1s infinite;
    font-size: 28px;
    font-weight: 600;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}



/* ------------------------------------------------------------------------------------------------------------------ */
/* domestic and international package card */

.tab-btn {

    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    background: #e5e7eb;
    cursor: pointer;
    font-weight: 600;

}

.tab-btn.active {

    background: #2563eb;
    color: white;

}

.package-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 10px;
    /* padding:0 75px; */
}

.package-container::-webkit-scrollbar {
    display: none;
}

/* .package-container.active{

display:grid;

} */

.package-card {
    background: #fff;
    border-radius: 16px;
    border: 1px solid #e5e7eb;
    padding: 11px;
    width: 380px;
    min-width: 380px;
    flex-shrink: 0;
}

.card-content {
    padding: 16px;
}

.package-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.15);
}

/* IMAGE */

.card-image {
    position: relative;
    height: 220px;
}

.card-image img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
}

/* TAGS */

.card-tags {
    position: absolute;
    bottom: 8px;
    left: 8px;

}

.tag {
    background: white;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    margin-right: 6px;
}

.tag.blue {
    background: #e8f0ff;
    color: #2a6df4;
}

/* CONTENT */

.card-content {
    padding: 18px;
}

.package-title {
    font-size: 16px;
    margin-bottom: 6px;
}

.location {
    font-size: 13px;
    color: #777;
    margin-bottom: 10px;
}

.features {
    font-size: 13px;
    color: #666;
    margin-bottom: 12px;
}

/* PRICE SECTION */

.price-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 18px;
    font-weight: 600;
}

.price span {
    display: block;
    font-size: 12px;
    color: #777;
}

.details-btn {
    background: #1f4db7;
    color: white;
    padding: 8px 16px;
    border-radius: 14px;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
}

.details-btn:hover {
    background: #163a8a;
}

/* slider button-------------- */

.slider-section {
    display: none;
}

.slider-section.active {
    display: block;
}


.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    /* width: 100%; */
    padding: 0 86px;
}

.package-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px;
}

.package-container::-webkit-scrollbar {
    display: none;
}

.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.35);

    background: linear-gradient(145deg,
            rgba(255, 255, 255, 0.25),
            rgba(255, 255, 255, 0.05));

    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    z-index: 10;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.25),
        inset 0 1px 0 rgba(255, 255, 255, 0.5);

    transition: all 0.35s ease;
}

.slide-btn:hover {

    transform: translateY(-50%) scale(1.12);

    background: linear-gradient(145deg,
            rgba(255, 255, 255, 0.45),
            rgba(255, 255, 255, 0.15));

    box-shadow:
        0 18px 45px rgba(0, 0, 0, 0.35),
        inset 0 2px 0 rgba(255, 255, 255, 0.7);
}

.slide-btn:hover i {
    transform: scale(1.1);
}

.slide-btn i {
    font-size: 22px;
    color: #111;
    transition: all 0.3s ease;
}

.slide-btn.left {
    left: 40px;
}

.slide-btn.right {
    right: 50px;
}

/* package card text ------------------------------------ */
.stay-route {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 6px;
    margin-bottom: 18px;
    font-size: 12.5px;
    color: #555;
}

.route-icon {
    font-size: 13px;
    color: #3b82f6;
    margin-right: 3px;
}

/* location */
.route-stop {
    font-weight: 500;
    color: #333;
    letter-spacing: 0.2px;
}

/* arrow */
.route-arrow {
    font-size: 10px;
    color: #b5b5b5;
    display: flex;
    align-items: center;
}

/* route icon */
.stay-route i.fa-route {
    color: #0a6cff;
    margin-right: 4px;
}

/* review-------------------------------------> */
/* title row */
.title-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
}

/* title */
.package-title {
    font-size: 18px;
    font-weight: 600;
    color: #111;
    margin: 0;
}

/* review box */
.review-box {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    font-weight: 500;
}

/* star */
.review-box i {
    color: #f5a623;
    font-size: 13px;
}

/* rating number */
.rating {
    color: #222;
}

/* review count */
.review-count {
    color: #777;
    font-size: 12px;
}

/* ----------price--------------------------------- */

.price-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

/* price container */
.price-info {
    display: flex;
    flex-direction: column;
}

/* first row */
.price-top {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 2px;
}

/* crossed price */
.original-price {
    font-size: 16px;
    color: #9a9a9a;
    text-decoration: line-through;
}

/* discount badge */
.discount-badge {
    background: #e6e9cf;
    color: #1d893d;
    font-size: 11px;
    font-weight: 600;
    padding: 3px 7px;
    border-radius: 6px;
}

/* second row */
.price-bottom {
    display: flex;
    align-items: center;
    gap: 4px;
}

/* final price */
.offer-price {
    font-size: 22px;
    font-weight: 700;
    color: #111;
}

/* per person */
.per-person {
    font-size: 12px;
    color: #777;
}

/* discver India---------------------------------------------------------------------------------------------------- */
.discover-section {
    padding: 0px 80px;
    /* left spacing */
    background: #fff;
}

.discover-title {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 12px;
}

/* FULL WIDTH PREMIUM UNDERLINE */
.discover-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    /* thickness */
    background: #e0e0e0;
    /* soft gray */
    border-radius: 3px;
}

/* Tabs container */
.discover-tabs {
    margin-top: 25px;
    display: flex;
    gap: 35px;
}

/* Tab style */
.tab {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    color: #333;
    transition: all 0.3s ease;
}

/* Hover */
.tab:hover {
    color: #c59d5f;
}

/* Underline animation */
.tab::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #c59d5f;
    transition: width 0.3s ease;
}

/* Hover underline */
.tab:hover::after {
    width: 100%;
}

/* Active tab */
.tab.active {
    color: #c59d5f;
}

.tab.active::after {
    width: 100%;
}

/* ------------------------- */
.region-section {
    display: none;
}

.region-section.active {
    display: block;
}

/* Trending in India----------------------------------------------------------------------------------------------- */

.trending-section {
    padding-top: 5px;
    padding-left: 90px;
    background: #f9f9f9;
    /* margin-bottom: 15px; */

}

.trending-text h2 {
    /* font-size: 32px;
    font-weight: 700; */
    font-size: 30px;
    font-weight: 800;
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    
}
.trending-text h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;

    width: 1250px;
    height: 2px;

    background: #e0e0e0; /* matches your icon color */
    border-radius: 10px;
}

/* why choose aventra section------------------------------------------------------------------------------------- */
.why-aventra {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 20px 80px;
    align-items: center;
}

/* LEFT SIDE */
.why-left {
    width: 40%;
}

.why-left h2 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 15px;
}

.why-left p {
    font-size: 16px;
    color: #666;
    line-height: 1.7;
}

/* RIGHT SIDE */
.why-right {
    width: 60%;
}

/* BIG CARD */
.big-card {
    background: linear-gradient(135deg, #ff5a5f, #ff7a7f);
    color: white;
    padding: 40px;
    border-radius: 24px;
    margin-bottom: 25px;
    transition: 0.4s;
}

.big-card i {
    font-size: 28px;
    margin-bottom: 15px;
}

.big-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.big-card p {
    font-size: 14px;
    opacity: 0.9;
}

/* MINI GRID */
.small-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* MINI CARDS */
.mini-card {
    background: #fff;
    padding: 25px;
    border-radius: 18px;
    text-align: center;
    border: 1px solid #eee;
    transition: 0.3s;
}

.mini-card i {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ff5a5f;
}

.mini-card h4 {
    font-size: 15px;
}

/* HOVER */
.big-card:hover {
    transform: translateY(-8px);
}

.mini-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.08);
}
/* how it works section------------------------------------------------------------------------------------------ */
.how-band {
    padding: 70px 60px;
    background: #fafafa;
    text-align: center;
}


.how-inner h2 {
    font-size: 30px;
    margin-bottom: 50px;
}


.steps {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.steps::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 5%;
    width: 90%;
    height: 2px;
    background: #e5e5e5;
    z-index: 0;
}


.step {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 22%;
}


.icon {
    width: 55px;
    height: 55px;
    margin: 0 auto 10px;
    background: #fff;
    border: 2px solid #ff5a5f;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}


.icon i {
    color: #ff5a5f;
    font-size: 18px;
}


.step p {
    font-size: 14px;
    color: #444;
}


.step:hover .icon {
    background: #ff5a5f;
}

.step:hover .icon i {
    color: #fff;
}


.step:hover {
    transform: translateY(-5px);
}
/* safty and support--------------------------------------------------------------------------------------------- */
/* .assurance-strip {
    margin: 60px 0;
    padding: 35px 20px;
    background: linear-gradient(to right, #f8fafc, #eef2f7);
    border-radius: 16px;
}

.assurance-inner {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.assure {
    text-align: center;
    padding: 10px;
    transition: 0.3s;
}

.assure:hover {
    transform: translateY(-5px);
}

.assure i {
    font-size: 20px;
    color: #ff5a5f;
    margin-bottom: 8px;
}

.assure h4 {
    font-size: 15px;
    margin-bottom: 4px;
}

.assure p {
    font-size: 13px;
    color: #666;
} */
/* -----------------------------search function------------------------------------------------------------------ */
.results-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.package-card {
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 12px;
    transition: 0.3s;
}

.package-card:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* -------------------------------Login modal-------------------------------------------------------------------- */
   /* MODAL BACKGROUND */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;

    top: 0;        /* 🔥 MUST ADD */
    left: 0;       /* 🔥 MUST ADD */

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(8px);
}

/* SHOW MODAL */
.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BOX */
.login-box {
    display: flex;
    width: 700px;
    /* margin: 8% auto; */
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

/* LEFT IMAGE */
.login-left img {
    width: 300px;
    height: 100%;
    object-fit: cover;
}

/* RIGHT */
.login-right {
    padding: 30px;
    width: 100%;
    position: relative;
}

.login-right h2 {
    margin-bottom: 5px;
}

.login-right input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
}

/* BUTTON */
.login-submit {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #ff6b6b, #ff9f43);
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

/* CLOSE */
.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}

.login-left img {
    width: 300px;
    height: 100%;
    object-fit: cover;

    filter: brightness(0.85);   /* 🔥 cinematic feel */
}

.login-left {
    position: relative;
}

.overlay-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.overlay-text h2 {
    font-size: 22px;
    margin: 0;
}

.overlay-text p {
    font-size: 14px;
    opacity: 0.9;
}